.card-detail{
    background-color: blueviolet;
    width: 400px;
    /* height: 80vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 10px;
    background-color: rgb(238, 231, 224);
    box-shadow: rgba(0, 0, 0, 0.295) 0px 0px 10px ;
}

.cardImage-detail{
    width: 70%;
    height: 35%;
    box-shadow: rgba(0, 0, 0, 0.295) 0px 0px 10px ;
    background-color: transparent;
}