.loadingConteiner{
    background-color: rgb(238, 231, 224);
    padding: 15px;
    margin: 10vh;
    box-shadow: rgba(0, 0, 0, 0.295) 0px 0px 10px ;
    border-radius: 10px;
}

.loadingImg{
    box-shadow: rgba(0, 0, 0, 0.295) 0px 0px 10px ;
    border-radius: 15px;
}