.landing-conteiner{
    background-color: rgb(238, 231, 224, 0.9);
    margin: 18px;
    border-radius: 25px;
    padding: 12px;
    
}

.landing-img{
    border-radius: 12%;
    max-width:600px;
}

.landing-bg{
    text-align: center;
    width: 60%;
    background-color: #eee;
    padding: 12px;
    margin: 12px;
    border-radius: 25px;
}

.div-conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}