.pagConteiner {
    display: flexbox;
    justify-content: center;

}

.numConteiner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width:fit-content;
    border-radius: 25px;
    background-color: rgba(0,0,0,.4);
    padding: 0, 20px;
}

.number{
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.actualNumber{
    color: rgb(145, 5, 5);
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.number:hover{
    height: 12px;
    transform: scale(1.2);
    cursor: pointer;
}

li {
    list-style:none;
}