.pagConteiner {
    display: flexbox;
    justify-content: center;

}

.numConteiner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width:fit-content;
    border-radius: 25px;

    padding: 0, 20px;
}

.number{
    color: black;

    padding: 8px 16px;
    text-decoration: none;
}

.currentNumber{
    color: rgb(145, 5, 5);
    background-color: brown;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    margin: 3px;
}

.number:hover{
    height: 12px;
    transform: scale(1.2);
    cursor: pointer;
}

.btn-n{
    border-radius: 7px;
}

li {
    list-style:none;
}