.mainConteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.cardConteiner{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.basicDetail{
    font-weight: 400;
}

.reset{
    padding: 12px
}

.btn-reset{
    border-radius: 20px;
}


.pagination-conteiner{
    background-color: rgba(0,0,0,.4);
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.prev-next-btn{
    display: flex;
    justify-content: center;
    margin: 6px;
    padding: 0 6px;
    border-radius: 6px;
}

.pagination{
    display: flex;
    justify-content: center;
}