.mainConteiner{
    display: flex;
    flex-direction: column;
}


.cardConteiner{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.basicDetail{
    font-weight: 400;
}

.reset{
    padding: 12px
}

.btn-reset{
    border-radius: 20px;
}

.pagination-conteiner{
    background-color: rgba(0,0,0,.4);
    display: flex;
    justify-content: center;
}

.pagination{
    display: flex;
    justify-content: center;
}