.card{
    width: 250px;
    height: 330px;
    border-radius: 10px;
    background-color: rgb(238, 231, 224);
    display: inline-flex; 
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.295) 0px 0px 10px ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card:hover{
    box-shadow: rgba(0, 0, 0, 0.295) 10px 0px 20px ;
}

.cardImage{
    width: 70%;
    height: 35%;
    box-shadow: rgba(0, 0, 0, 0.295) 0px 0px 10px ;
    background-color: transparent;
}

.card-logo{
    padding: 10px;
}
.card-content{
    color:white
}

.basicDetail{
    font-style: italic;
    font-weight: 1000;
}