
.darkNav {
    background-color: black;
    color: rgb(213, 252, 252);
}

.linkRoutes{
    display: flex;
    justify-content: space-evenly;
    padding: 0 20%;

}

.link {
    color: aliceblue;
    text-decoration: none;
    list-style: none;
    text-shadow:2px 2px rgba(255, 255, 255, 0.295);
}

.link:hover {
    text-decoration:none;
    transform: scale(1.3);

}

a{
    text-decoration: none;
}