.formConteiner{
    width: 40%;
    height: 80vh;
    background-color: rgb(238, 231, 224);
    box-shadow: rgba(0, 0, 0, 0.295) 0px 0px 10px ;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 18px;
    
}

.form{
    height: 90%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.activity{
    margin: 16px 0;
}

.danger{
    color: rgb(255, 0, 0);
}
/* 
.fieldsetConteiner{
    display: flex;
    justify-content: center;
}

.fieldset{
    max-width: 60%;
} */